APP_ENV=local
APP_URL=

# -------------------------------------------------------------------------
# DATABASES
# -------------------------------------------------------------------------
# – Server
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# -------------------------------------------------------------------------
# MAIL
# -------------------------------------------------------------------------
# – Service
MAIL_MAILER=mailtrap
MAIL_USERNAME=
MAIL_PASSWORD=

# – Addresses
MAIL_FROM_ADDRESS=

# -------------------------------------------------------------------------
# APIs
# -------------------------------------------------------------------------
# – OpenAI

# -------------------------------------------------------------------------
# DEBUG / TESTING
# -------------------------------------------------------------------------
APP_DEBUG=true
APP_FAKER_LOCALE=ch_DE

# -------------------------------------------------------------------------
# SECURITY
# -------------------------------------------------------------------------
APP_KEY=

# -------------------------------------------------------------------------
# APPs DEFULT
# -------------------------------------------------------------------------
APP_LOCALE=en
APP_FALLBACK_LOCALE=en